<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"
                     xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss.SSS} %t %-5p %c{3}:%L - %m%n" />
        </layout>
    </appender>

    <appender name="FileAppenderRoot" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false" />
        <param name="maxFileSize" value="1000KB" />
        <param name="maxBackupIndex" value="5" />
        <!-- For Tomcat -->
        <param name="file" value="c:\\work\\log\\app\\bulk.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss.SSS} %t %-5p %c{3}:%L - %m%n" />
        </layout>
    </appender>

    <appender name="FileAppenderApp" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false" />
        <param name="maxFileSize" value="10KB" />
        <param name="maxBackupIndex" value="5" />
        <!-- For Tomcat -->
        <param name="file" value="c:\\work\\log\\app\\app.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
        </layout>
    </appender>


    <logger name="org.igorr">
        <level value="DEBUG"/>
        <appender-ref ref="ConsoleAppender"/>
    </logger>

    <logger name="org.igorr.quickstarts.helloworld.web">
        <level value="DEBUG"/>
        <appender-ref ref="FileAppenderApp"/>
    </logger>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="FileAppenderRoot" />
    </root>

</log4j:configuration>